<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="axios.min.js"></script>
    <script type="text/javascript" src="main1.js"></script>
</head>
<body>
<div id="app">
    <h1>{{ headline }}</h1>
    <p>Vorname: {{ person.name.first }}</p>
    <p>Nachname: {{ person.name.last }} </p>
    <button v-on:click="openAndroidDialog">From Web</button>
</div>
</body>
</html>
